{% extends 'customer/base.html' %}
<!-- {% load static %} -->
{% block content %}
<div>
    <div class="container mb-5">
        <style>
            body {
                background-image: url('/static/customer/images/pexels-pixabay-277253.jpg');
                background-repeat: no-repeat;
                color: white;
                background-attachment: fixed;
                background-size: cover;

            }
        </style>
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                <style>
                    /* Add CSS styles for flex container and items */


                    /* Style the "Buy Now" button */
                    .buy-now-button {
                        display: block;
                        margin-top: 10px;
                        background-color: green;
                        color: #fff;
                        text-decoration: none;
                        padding: 5px 10px;
                        border-radius: 5px;
                    }
                </style>

                <h1 style="font-size: 60px"><b>Data Analytics</b></h1>
                <a class="buy-now-button" style="height:40px;width:160px;" href="{% url 'revenue_products' %}">Top 5
                    Products</a>
                <p>

                </p>

                <a class="buy-now-button" style="height:40px;width:160px;" href="{% url 'view_order' %}">Top 5
                    Categories</a>


            </div>

        </div>


    </div>
</div>
<div style="width: 900px; height:900px; margin:0 auto;">
    <div
        style="width:45%;height:45%; float:right; background-color: white; border: solid 3px green; border-radius: 20px;">
        <canvas id="pieChart"></canvas>

    </div>
    <div
        style="width:45%;height:45%; float:left; background-color: white; border: solid 3px green; border-radius: 20px;">
        <canvas id="barChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('pieChart');

        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: {{ categories| safe}},
            datasets: [{
                label: 'Top 5 Categories by Sale',
                data: {{ sales_by_category| safe}},
            borderWidth: 1
                }]
            },
            options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
        });
    </script>
    <script>
        const ctx1 = document.getElementById('barChart');

        new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: {{ categories| safe}},
            datasets: [{
                label: 'Top 5 Categories by Sale',
                data: {{ sales_by_category| safe}},
            borderWidth: 1
                }]
            },
            options: {
            aspectRatio: 1,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
        });
    </script>

</div>
{% endblock content %}